.section5{
  &__width{
    width: 441px;
    max-width: 100%;
  }
  &__list{
    margin-bottom: 26px;
    >li{
      color: #EEFEFB;
      font-size: 14px;
      display: flex;
      align-items: center;
      &:nth-child(n+2){
        margin-top: 17px;
      }
      &:before{
        content: "";
        width: 24px;
        height: 24px;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 12px;
      }
      &.phone{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.98026 10.2552C9.6162 11.5797 10.4831 12.8211 11.581 13.919C12.6789 15.0169 13.9203 15.8838 15.2448 16.5197C15.3588 16.5744 15.4157 16.6018 15.4878 16.6228C15.744 16.6975 16.0585 16.6438 16.2755 16.4885C16.3365 16.4448 16.3888 16.3926 16.4932 16.2881C16.8126 15.9687 16.9724 15.809 17.133 15.7045C17.7387 15.3107 18.5195 15.3107 19.1252 15.7045C19.2858 15.809 19.4455 15.9687 19.765 16.2881L19.943 16.4662C20.4286 16.9518 20.6714 17.1945 20.8033 17.4553C21.0656 17.9739 21.0656 18.5863 20.8033 19.1049C20.6714 19.3657 20.4286 19.6084 19.943 20.094L19.799 20.2381C19.3151 20.722 19.0731 20.9639 18.7441 21.1487C18.3791 21.3538 17.8121 21.5012 17.3935 21.5C17.0162 21.4989 16.7583 21.4257 16.2425 21.2793C13.4709 20.4926 10.8555 19.0083 8.6736 16.8264C6.49168 14.6445 5.00738 12.0291 4.22071 9.25746C4.07432 8.74172 4.00113 8.48385 4.00001 8.10653C3.99876 7.68785 4.1462 7.1209 4.35126 6.75587C4.53605 6.42691 4.77801 6.18494 5.26193 5.70102L5.40597 5.55699C5.89155 5.07141 6.13434 4.82861 6.3951 4.69672C6.91369 4.43443 7.52611 4.43443 8.0447 4.69672C8.30546 4.82861 8.54825 5.0714 9.03383 5.55699L9.21189 5.73504C9.53133 6.05448 9.69104 6.2142 9.79547 6.37481C10.1893 6.9805 10.1893 7.76134 9.79547 8.36703C9.69105 8.52764 9.53133 8.68736 9.21189 9.0068C9.10744 9.11125 9.05521 9.16347 9.0115 9.22452C8.85616 9.44146 8.80252 9.75601 8.8772 10.0122C8.89821 10.0843 8.92556 10.1412 8.98026 10.2552Z' stroke='%237D807E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
      &.mail{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5.5L10.7721 11.545C11.4943 12.1067 12.5057 12.1067 13.2279 11.545L21 5.5M5.2 20.5H18.8C19.9201 20.5 20.4802 20.5 20.908 20.282C21.2843 20.0903 21.5903 19.7843 21.782 19.408C22 18.9802 22 18.4201 22 17.3V7.7C22 6.5799 22 6.01984 21.782 5.59202C21.5903 5.21569 21.2843 4.90973 20.908 4.71799C20.4802 4.5 19.9201 4.5 18.8 4.5H5.2C4.07989 4.5 3.51984 4.5 3.09202 4.71799C2.71569 4.90973 2.40973 5.21569 2.21799 5.59202C2 6.01984 2 6.57989 2 7.7V17.3C2 18.4201 2 18.9802 2.21799 19.408C2.40973 19.7843 2.71569 20.0903 3.09202 20.282C3.51984 20.5 4.0799 20.5 5.2 20.5Z' stroke='%237D807E' stroke-width='2'/%3E%3C/svg%3E%0A");
        }
      }
      &.map{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 10.5C16 12.7091 14.2091 14.5 12 14.5C9.79086 14.5 8 12.7091 8 10.5C8 8.29086 9.79086 6.5 12 6.5C14.2091 6.5 16 8.29086 16 10.5Z' stroke='%237D807E' stroke-width='2'/%3E%3Cpath d='M20 10.5C20 14.9183 14 22.5 12 22.5C10 22.5 4 14.9183 4 10.5C4 6.08172 7.58172 2.5 12 2.5C16.4183 2.5 20 6.08172 20 10.5Z' stroke='%237D807E' stroke-width='2'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}