.section3{
  &__title{
    color: #AF9533;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
  }
  &__txt{
    color: #EEFEFB;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
  }
  &__desc{
    color: #5C605E;
    font-size: 14px;
    line-height: 1.5;
  }
  &__dotnav{
    >*{
      >*{
        width: 8px;
        height: 8px;
        background: #01231D;
        border-color: #01231D;
        &:hover{
          background: #{$primary-color};
        }
      }
      &.uk-active{
        >*{
          background: #{$primary-color};
        }
      }
    }
  }
}