.item{
  $x:20;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:16;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:15;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:12;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:10;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:8;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:6;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:2;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }

  $max:48;
  $min:24;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:46;
  $min:23;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:36;
  $min:18;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }

  $max:24;
  $min:12;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
}