/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'LEXANDRA-Mnletter';
  font-display: swap;
  src:url('fonts/alexandra-mnletter/ALEXANDRA-Outline.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}